{% extends "admin/change_list.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="stats-section">
    <!-- Type Counts -->
    <div class="type-counts">
        <h3>{% trans 'Type Counts' %}</h3>
        <ul>
            {% for type_count in type_counts %}
                <li>{{ type_count.type }}: {{ type_count.count }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Total Count -->
    <div class="total-count">
        <h3>{% trans 'Total Count' %}</h3>
        <p>{{ total_count }}</p>
    </div>

    <div class="feedback_count">
      <h3>{% trans 'Feedback Average (5: good, 3: normal, 1:bad)' %}</h3>
      <p>{{ feedback_average }}</p>

    <div class="feedback_rate">
      <h3>{% trans 'Feedback Rate (feedback / total question)' %}</h3>
      <p>{{ participation_rate }}</p>
    
    </div>
    <!-- Date Wise Count Graph -->
    <div class="date-count-graph">
        <h3>{% trans 'Date Wise Count' %}</h3>
        <canvas id="dateCountChart" width="400" height="200"></canvas>
    </div>
</div>

<script>
const datewiseCounts = JSON.parse('{{ datewise_counts|safe }}');
const labels = datewiseCounts.map(entry => entry.date);
const dataPoints = datewiseCounts.map(entry => entry.count);

const saraDatewiseCounts = JSON.parse('{{ datewise_sara_counts|safe }}');
const saraDataPoints = saraDatewiseCounts.map(entry => entry.count);

const maraDatewiseCounts = JSON.parse('{{ datewise_mara_counts|safe }}');
const maraDataPoints = maraDatewiseCounts.map(entry => entry.count);

// Chart.js를 사용하여 그래프를 그립니다.
const data = {
  labels: labels,
  datasets: [{
    label: 'Daily Questions',
    backgroundColor: 'rgb(94,168,30)',
    borderColor: 'rgb(94,168,30)',
    data: dataPoints,
  },
  {
    label: 'Daily Sara Questions',
    backgroundColor: '#017BED',
    borderColor: '#017BED',
    data: saraDataPoints,
  },
  {
    label: 'Daily Mara Questions',
    backgroundColor: '#EF2A01',
    borderColor: '#EF2A01',
    data: maraDataPoints,
  }]
};

const config = {
  type: 'line',
  data: data,
  options: {}
};

const dateCountChart = new Chart(
  document.getElementById('dateCountChart'),
  config
);
</script>

{{ block.super }}
{% endblock %}
