[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.7"
djangorestframework = "3.14.0"
gunicorn = "21.2.0"
uvicorn = "0.24.0.post1"
faker = "20.0.0"
factory-boy = "3.3.0"

[dev-packages]

[requires]
python_version = "3.12"
