.stats-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.stats-section h2, .stats-section h3 {
    color: #333;
}

.type-counts, .total-count, .date-count-graph {
    margin-bottom: 20px;
}

.type-counts ul {
    padding-left: 20px;
}
